# Frozen-Life Character & Weapon Studio Configuration
[Studio]
Version=1.0

[WeaponGrip_0]
Offset=-0.0680934,0.0136186,-0.0875486
Rotation=-121.167,86.1479,-66.537
Scale=1.00272,1.00272,1.00272
RightPos=0,-0.065,-0.04
RightRot=8,0,-4
LeftPos=-0.01,-0.125,-0.02
LeftRot=12,-5,6
AdsOffset=0,-0.04,0.08
LockHands=0
BotOffset=0.151751,0.151751,0.0723735
BotRotation=132.374,-60.9339,-77.7432
BotScale=1.12607,1.12607,1.12607

[WeaponSkin_0]
Model=pipe.stl
Texture=PipeWrenchTool_baseColor.png
UvScale=0.25
Tint=0.780934,0.808171,0.846303
Metallic=1

[WeaponGrip_1]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=-0.015,-0.065,-0.04
RightRot=8,0,-4
LeftPos=-0.055,-0.105,-0.035
LeftRot=14,-12,15
AdsOffset=0,-0.06,0.12
LockHands=0
BotOffset=0,-0.05,0.02
BotRotation=5.73,-11.46,0
BotScale=1,1,1

[WeaponSkin_1]
Model=
Texture=weapon_pistol.bmp
UvScale=1
Tint=1,1,1
Metallic=0.8

[WeaponGrip_2]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=-0.015,-0.065,-0.04
RightRot=8,0,-4
LeftPos=-0.065,-0.06,-0.26
LeftRot=22,12,-22
AdsOffset=0,-0.07,0.14
LockHands=0
BotOffset=0,-0.05,0.02
BotRotation=5.73,-11.46,0
BotScale=1,1,1

[WeaponSkin_2]
Model=
Texture=weapon_shotgun.bmp
UvScale=1
Tint=1,1,1
Metallic=0.6

[WeaponGrip_3]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=-0.015,-0.065,-0.04
RightRot=8,0,-4
LeftPos=-0.065,-0.06,-0.34
LeftRot=22,12,-22
AdsOffset=0,-0.07,0.15
LockHands=0
BotOffset=0,-0.05,0.02
BotRotation=5.73,-11.46,0
BotScale=1,1,1

[WeaponSkin_3]
Model=
Texture=weapon_m4a4s.bmp
UvScale=1
Tint=1,1,1
Metallic=0.6

[WeaponGrip_4]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=-0.015,-0.065,-0.04
RightRot=8,0,-4
LeftPos=-0.065,-0.06,-0.34
LeftRot=22,12,-22
AdsOffset=0,-0.07,0.15
LockHands=0
BotOffset=0,-0.05,0.02
BotRotation=5.73,-11.46,0
BotScale=1,1,1

[WeaponSkin_4]
Model=
Texture=weapon_sg553.bmp
UvScale=1
Tint=1,1,1
Metallic=0.5

[WeaponGrip_5]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=0,-0.05,0.02
RightRot=0,0,0
LeftPos=0,0.08,-0.15
LeftRot=-15,0,0
AdsOffset=0,-0.05,0.1
LockHands=0
BotOffset=0,-0.05,0.02
BotRotation=5.73,-11.46,0
BotScale=1,1,1

[WeaponSkin_5]
Model=
Texture=weapon_minigun.bmp
UvScale=1
Tint=1,1,1
Metallic=0.8

[WeaponGrip_6]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=-0.015,-0.065,-0.04
RightRot=8,0,-4
LeftPos=-0.065,-0.06,-0.3
LeftRot=20,10,-20
AdsOffset=0,-0.07,0.15
LockHands=0
BotOffset=0,-0.05,0.02
BotRotation=5.73,-11.46,0
BotScale=1,1,1

[WeaponSkin_6]
Model=
Texture=weapon_plasma.bmp
UvScale=1
Tint=1,1,1
Metallic=0.9

[WeaponGrip_7]
Offset=0.0680934,-0.138132,0
Rotation=-93.1517,-180,0
Scale=2.57121,2.007,2.007
RightPos=0.0178988,0.00992218,-0.04
RightRot=8,0,-4
LeftPos=0.0459144,0.0441634,-0.36
LeftRot=20,10,-20
AdsOffset=0,-0.07,0.15
LockHands=0
BotOffset=0,-0.05,0.02
BotRotation=5.73,-11.46,0
BotScale=1,1,1

[WeaponSkin_7]
Model=railgun.stl
Texture=PipeWrenchTool_baseColor.png
UvScale=0.25
Tint=1.5,1.5,1.5
Metallic=0.346303

[WeaponGrip_8]
Offset=0,0,0
Rotation=0,0,0
Scale=1,1,1
RightPos=-0.02,-0.08,-0.02
RightRot=5,0,-2
LeftPos=-0.06,-0.05,-0.28
LeftRot=25,15,-15
AdsOffset=0,-0.08,0.16
LockHands=0
BotOffset=0,-0.05,0.02
BotRotation=5.73,-11.46,0
BotScale=1,1,1

[WeaponSkin_8]
Model=
Texture=weapon_rpg.bmp
UvScale=1
Tint=1,1,1
Metallic=0.4

[ReloadTimeline]
DipDuration=0.15
MagDropTime=0.15
MagInsertTime=0.45
BoltRackTime=0.7
DipDepth=0.03
TiltAngle=18

[CharacterAppearance]
ArmorClass=2
HelmetType=2
VisorColor=0.2,0.85,1
FatiguesColor=0.168288,0.515759,0.634047
